/* Reset*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #342E37;  
  font-family: 'Space Mono', monospace;
  color: white;
}

.box {
  width: 960px;
  margin: auto;
}

/* CSS Navbar */
nav .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

#img_nav {
  width: 150px;
  margin-left: 15px;
}

nav ul {
  list-style: none;
  margin-right: 20px;
}

nav ul li {
  display: inline;
  margin-left: 30px;
  font-weight: 300;
}

nav a {
  text-decoration: none;
  color: inherit;  
}
/* End CSS Navbar */

/* CSS Header */
header {
  background-color: antiquewhite;
}

header .box {
  background-color: #676264;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 300;
}

header h2 {
  text-align: center;
  font-weight: 300;
}
  
header img {
  max-width: 40%;
  padding: 20px;
  display: block;
  margin: 0 auto;
}
/* End CSS Header */

/* CSS Section */
section {
  background-color: antiquewhite;
}

section .box {
  background-color: brown;
}

article {
  text-align: justify;
  padding: 20px;
}

article p {
  padding-top: 20px;
}

.impar {
  background-color: #463f49;
}

.par {
  background-color: #676264;
}
/* End CSS Section */

/* CSS Footer */
footer {
  padding-top: 50px;
  padding-bottom: 20px;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  background-color: #676264;
  padding: 20px 80px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 6px #2E282A;
}
  
.btn a {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

.btn:hover {
  box-shadow: 0 4px #2E282A;
  top: 2px; 
}

.btn:active {
  box-shadow: none;
  top: 6px; 
}

footer img {
  width: 200px;
  margin: 0 auto;
  display: block;
}
/* End CSS Footer */